.acc {
    width: 100%;
}
.acc__descr {
    margin-top: 20px;
}
.acc__main {
    margin-top: 40px;
    flex: 1;
    max-width: 498px;
}
.acc__info {
    flex: 1;
    max-width: 506px;
}

.summary_title {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.summary_title h5 {
    margin-bottom: 0;
    margin-top: 0;
}
.acc .accordion summary {
    padding: 2.4rem 0;
}

.product__description {
    position: relative;
    z-index: 2;
}
.product__description p {
    font-size: var(--font-secondary-text);
    margin: 0;
}
.accordion {
    position: relative;
}

.accordion:before, .accordion:after {
    content: "";
    width: 0;
    height: 0.1rem;
    background-color: rgb(var(--color-button-tertiary-text));
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    transition: var(--duration-default);
}
.accordion:after {
    top: auto;
    bottom: -1px;
}
.accordion:hover::before, .accordion:hover::after, .accordion.active::before, .accordion.active::after {
    width: 100%;
}
@media screen and (min-width: 990px) {
    .acc {
        display: flex;
        justify-content: space-between;
    }
    .acc__heading {
        margin-bottom: 16px;
    }
    .acc__descr {
        margin-top: 42px;
    }
    .acc__main {
        margin-top: 0;
    }
}
